body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
}

/* headings */
.big-heading {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

.feature-heading {
    color: black;
}

/* sections */
.colored {
    background-color: #ff4c68;
    color: white;
}

.white {
    background-color: white;
}

/* title section */
#title {
    text-align: left;
}

.container-fluid {
    padding: 3% 14% 7%;
}

.navbar-brand {
    font-size: 2.5rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}

.title-btn-apple {
    margin: 5% 2% 8% 0;
}

.title-btn-android {
    margin: 5% 0 8%;
}

.pic-col {
    position: relative;
}

.title-pic {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

@media (max-width: 991.2px) {
    .title-pic {
        position: static;
        transform: rotate(0deg);
    }

    #title {
        text-align: center;
    }
}

.navbar {
    margin-bottom: 5rem;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/* features section */
#features {
    padding: 5rem 15%;
    color: #8f8f8f;
    position: relative;
}

.icon {
    color: #ef8172;
    margin: 1rem 0;
}

.icon:hover {
    color: #ff4c68;
}

@media (max-width: 767.2px) and (min-width: 400px) {
    #features {
        padding: 5rem 30%;
    }
}

.feature-text {
    padding: 5%;
}

/* testimonials section */
#testimonials {
    background-color: #ef8172;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 1.25rem;
}

.carousel-item {
    padding: 7% 15%;
}

/* press section */
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 1.25rem 1.25rem 3rem;
}

/* pricing section */
#pricing {
    padding: 6% 15%;
}

.pricing-col {
    padding: 3% 2%;
}

/* cta section */
#cta {
    padding: 5% 15% 10%;
}

.cta-btn-apple {
    margin: 5% 1.5% 0 0;
}

.cta-btn-android {
    margin: 5% 0 0 1.5%;
}

/* footer section */
#footer {
    padding: 7%;
}

.social-icon {
    margin: 0 0.5% 2% 0.5%;
}